<div class="jumbotron text-center">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
        <h1>Handcrafted items from around the world.</h1>
        <p>Discover beautiful items </p>
        <p>
          <a class="btn btn-primary btn-lg">Learn more</a>
        </p>
    </div>
  </div>
</div>

