<div class="jumbotron">
  <div class="container">
    <h1>Handcrafted items from around the world.</h1>
    <p>Discover beautiful items </p>
    <p>
      <a class="btn btn-primary btn-lg">Learn more</a>
    </p>
  </div>
</div>

